<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Template home</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <header>
            <!-- A grey horizontal navbar that becomes vertical on small screens -->
            <nav class="navbar navbar-expand-sm bg-dark">

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="criar">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="listar">Read</a>
                </li>
            </ul>
            
            </nav>
        </header>

        <main class="text-center mt-2">
            <h1>Minha primeira aplicação em Django</h1>
            <div class="col-8">
                <img src="https://github.com/Porfirio-Prodigy/Django-Despesas/blob/main/images/tela-1.png">
            </div>
        </main>
    
    </body>
</html>
